<div class="toolbar" role="banner" style="margin-bottom: 20px;">
    <img width="40" alt="Angular Logo"
        src="https://i.guim.co.uk/img/media/6088d89032f8673c3473567a91157080840a7bb8/0_567_3840_2304/master/3840.jpg?width=700&quality=85&auto=format&fit=max&s=320b97a4ea1d37bb9dfc6e908699108a" />
    <span>Aromatic Mountain Technologies</span>
    <div class="spacer"></div>
    <nav class="nav-Container">
        <span class="navElem"><a (click)="navHome()">Home</a></span>

        <span class="navElem"><a (click)="navCatalog()">Catalog</a></span>

        <span class="navElem"><a (click)="navAccount()">Account</a></span>

        <span class="navElem"><a (click)="navCart()">Cart</a></span>


    </nav>

    <div><img src="../assets/login-icon.png" width="30"> </div>

</div>
<router-outlet style="margin-top: 5%;"></router-outlet>
<!-- <app-account-page></app-account-page> -->